/* Default styles */

body {
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background-color: #f7f7f7; /* Light gray background color */
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
}

.navbar {
    background-color: #343a40;
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-brand {
    font-size: 24px;
    font-weight: bold;
}

.navbar-toggler-icon {
    background-color: #ffffff;
}

.navbar-nav .nav-item {
    margin-right: 20px;
}

.navbar-nav .nav-item:last-child {
    margin-right: 0;
}

.navbar-nav .nav-link {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

/* Home Section Styles */

.jumbotron {
    background: linear-gradient(to bottom right, #007BFF, #343a40);
    background-size: cover;
    color: #fff;
    padding: 100px 0;
}

.animated-text {
    font-size: 62px;
    display: inline-block;
    animation: bounce 2s infinite;
    transform-origin: center;
    background: -webkit-linear-gradient(#25CC0F, #9E3212);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.lead {
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
}

.image {
    height: 100px;
    width: 100px;
    border-radius: 20px;
    padding-right: 5px;
}

/* Define the bounce animation keyframes */
@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}

/* About Us Section Styles */
#about {
    background-color: #f7f7f7;
    padding: 40px;
    text-align: center;
    color: #333;
    font-size: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

#about h2 {
    font-size: 50px;
    color: #007bff;
    margin-bottom: 20px;
}

#about p {
    line-height: 1.6;
    margin-bottom: 20px;
}

#about::after {
    content: '';
    display: block;
    width: 100px;
    height: 2px;
    background-color: #007bff;
    margin: 20px auto;
}

/* Responsive course cards */
@media (max-width: 768px) {
    .course {
        width: 100%;
        margin: 10px 0;
    }

    .course-container {
        flex-direction: column;
        align-items: center;
    }
}

/* Course Styles */
.course-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.course {
    width: 300px;
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
    text-align: center;
    background: linear-gradient(to bottom, #f7f7f7, #e6e6e6);
    border-radius: 10px;
    transition: background-color 0.3s, transform 0.3s;
}

.course:hover {
    background-color: #007bff;
    transform: scale(1.05);
}

.course img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.course h3 {
    margin-top: 10px;
    font-size: 20px;
    color: #333;
}

#courses h2 {
    font-size: 50px;
    color: #007bff;
    margin-bottom: 20px;
    margin-top: 10px;
}

.course p {
    color: #777;
}

/* Gallery Section Styles */

/* Responsive gallery photos */
@media (max-width: 768px) {
    .gallery-photo {
        width: 100%;
        margin: 10px 0;
    }

    .gallery-container {
        flex-direction: column;
        align-items: center;
    }
}

.gallery-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.gallery-photo {
    width: 300px;
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
    text-align: center;
    background: linear-gradient(to bottom, #f7f7f7, #e6e6e6);
    border-radius: 10px;
    transition: background-color 0.3s, transform 0.3s;
}

.gallery-photo:hover {
    background-color: #007bff;
    transform: scale(1.05);
}

.gallery-photo img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.gallery-photo h3 {
    margin-top: 10px;
    font-size: 25px;
    font-weight: bold;
    color: #333;
}

.gallery-photo p {
    color: #777;
}

#gallery h2 {
    font-size: 50px;
    color: #007bff;
    margin-bottom: 10px;
    margin-top: 10px;
}

/* Contact Form Styles */

.contact-form {
    margin-top: 40px;
    background-color: #f5f5f5;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
}

.contact-form h3 {
    font-size: 24px;
    margin-bottom: 20px;
}

.contact-form label {
    display: block;
    margin-bottom: 10px;
    font-size: 18px;
}

#contact h2 {
    font-size: 50px;
    color: #007bff;
    margin-bottom: 20px;
    margin-top: 10px;
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 15px;
}

.contact-form button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
}

.contact-form button:hover {
    background-color: #0056b3;
}

/* Footer Styles */

footer {
    text-align: center;
    padding: 20px 0;
    background-color: #333;
    color: #fff;
}

footer ul.list-inline {
    padding: 0;
    list-style: none;
}

footer ul.list-inline li.list-inline-item {
    display: inline-block;
    margin-right: 10px;
}

footer ul.list-inline li.list-inline-item:last-child {
    margin-right: 0;
}

footer ul.list-inline li.list-inline-item a {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    transition: color 0.3s;
}

footer ul.list-inline li.list-inline-item a:hover {
    color: #007bff;
}

/* Responsive footer */
@media (max-width: 768px) {
    footer ul.list-inline {
        text-align: center;
    }

    footer ul.list-inline li.list-inline-item {
        margin-right: 20px;
    }
}
